<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-----------------NavBar and soial media-->

<!-----------------------------------Title-->
    <h1>Piece Of Cake Omagh</h1>
<!-------------------interactive buttom leading to shop-->
<button type="button" class="btn btn-info">click here for our shop!</button>
<!-----------------------------------Logo-->

<!-----------------------------------About the owners-->

<!------------------------------Image of owners-->

<!----------------------------------interactive button-->

<!------------------------------------Footer-->
<!----------------------legal paragraph at bottom of page-->
<p>All images on this website belong to Piece of Cake Omagh, permission must be asked before using any images found on this page.</p>
</body>
</html>